# requirements.txt

# Core App Logic
groq
python-dotenv
PyPDF2
python-docx

# Voice & Audio
gTTS
SpeechRecognition
# Install whisper directly from GitHub for maximum stability
git+https://github.com/openai/whisper.git

# Streamlit UI & a simpler audio component
streamlit
git+https://github.com/stefanrmmr/streamlit_audio_recorder.git